
*.o
*.o.cmd
*.cmd
*.order

.config
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_vmlinux1
.tmp_vmlinux2
.tmp_versions/
.version

Module.symvers
System.map
arch/arm/kernel/asm-offsets.s
arch/arm/lib/lib.a
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
lib/lib.a
usr/.initramfs_data.cpio.d
vmlinux


